<header class="site-header">
  <div class="wrapper">
    <a class="site-title" rel="author" href="{{ '/' | relative_url }}">{{ site.title }}</a>

    <nav class="site-nav">
      <input type="checkbox" id="nav-trigger" class="nav-trigger">
      <label for="nav-trigger">
        <span class="menu-icon">☰</span>
      </label>

      <div class="trigger">
        <a class="page-link" href="/">首页</a>
        <a class="page-link" href="/notes/">笔记</a>
        <a class="page-link" href="/wiki/">Wiki</a>
        <a class="page-link" href="/about/">关于</a>
      </div>
    </nav>
  </div>
</header>